##package ${package.Controller};
package com.zwl.mall.controller;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.zwl.common.base.Result;
import com.zwl.common.base.ResultUtil;
import com.zwl.common.utils.MapUtil;
import com.zwl.mall.api.${table.serviceName};
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import com.zwl.mall.api.${table.serviceName};
import com.zwl.mall.dao.model.${entity};
/**
 *
 * @author ${author}
 * @since ${date}
 */

@RestController
@RequestMapping("/api#if(${package.ModuleName})/${package.ModuleName}#end/${table.entityPath}")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end


@Autowired
public ${table.serviceName} i${entity}Service;

/**
 * 分页查询数据
 *
 * @param ${table.entityPath} 查询条件
 * @return
 */
##@ResponseBody
@PostMapping("/getPage")
@ApiOperation(value = "分页查询")
@ApiImplicitParams({
        @ApiImplicitParam(name = "${table.entityPath}", value = "分页查询", required = true, paramType = "query", dataType = "${entity}"),
        @ApiImplicitParam(name = "pageNum", value = "1", required = true, paramType = "query", dataType = "int"),
        @ApiImplicitParam(name = "pageSize", value = "10", required = true, paramType = "query", dataType = "int")
})
public Result getPage(${entity} ${table.entityPath},int pageNum,int pageSize)throws Exception{
        return ResultUtil.ok(new ${entity}().selectPage(new Page<>(pageNum,pageSize),
        new QueryWrapper<${entity}>().allEq(MapUtil.objectToUnderlineMap(${table.entityPath}),false)));}

/**
 * 根据id获取对象
 *
 * @param ${table.entityPath} 传递的实体
 * @return
 */
##@ResponseBody
@PostMapping("/getByParams")
@ApiOperation(value = "详情查询")
@ApiImplicitParams({
        @ApiImplicitParam(name = "${table.entityPath}", value = "查询数据", required = true, paramType = "query", dataType = "${entity}")
})
public Result getByParams(${entity} ${table.entityPath})throws Exception{
        return ResultUtil.ok(new ${entity}().selectOne(new QueryWrapper<${entity}>().allEq(MapUtil.objectToUnderlineMap(${table.entityPath}),false)));
        }




##/**
## * 跳转列表页面
## * @param request
## * @param model
## * @return
## */
##@RequestMapping(method = RequestMethod.GET, value = {"/${table.entityPath}Index" })
##public String index(HttpServletRequest request,Model model){
##        return"${table.entityPath}ListIndex";
##        }
##
##/**
## * 跳转添加页面
## * @param request
## * @param response
## * @param model
## * @return
## */
##@RequestMapping(method = RequestMethod.GET, value = "/${table.entityPath}Add")
##public String ${table.entityPath}Add(HttpServletRequest request,HttpServletResponse response,Model model){
##        try{
##
##
##        }catch(Exception ex){
##        logger.error("${table.entityPath}Add -=- {}",ex.toString());
##        }
##        return"${table.entityPath}Add";
##        }


/**
 * 保存
 *
 * @param ${table.entityPath} 传递的实体
 * @return 0 失败  1 成功
 */
@PostMapping("/save")
@ApiOperation(value = "保存")
@ApiImplicitParams({
        @ApiImplicitParam(name = "${table.entityPath}", value = "保存", required = true, paramType = "query", dataType = "${entity}")
})
public Result save(${entity} ${table.entityPath})throws Exception{
        return ResultUtil.ok(${table.entityPath}.insert());
        }

/**
 * 更新
 *
 * @param ${table.entityPath} 传递的实体
 * @return 0 失败  1 成功
 */
@PostMapping("/update")
@ApiOperation(value = "更新")
@ApiImplicitParams({
        @ApiImplicitParam(name = "${table.entityPath}", value = "更新", required = true, paramType = "query", dataType = "${entity}")
})
public Result update(${entity} ${table.entityPath})throws Exception{
        return ResultUtil.ok(${table.entityPath}.updateById());
        }

/**
 * 保存或更新
 *
 * @param ${table.entityPath} 传递的实体
 * @return 0 失败  1 成功
 */
@PostMapping("/saveOrUpdate")
@ApiOperation(value = "保存或更新")
@ApiImplicitParams({
        @ApiImplicitParam(name = "${table.entityPath}", value = "保存或更新", required = true, paramType = "query", dataType = "${entity}")
})
public Result saveOrUpdate(${entity} ${table.entityPath})throws Exception{
        return ResultUtil.ok(${table.entityPath}.insertOrUpdate());
        }
##/**
## * 根据id删除对象
## * @param id  实体ID
## * @return 0 失败  1 成功
## */
##@ResponseBody
##@RequestMapping(method = RequestMethod.POST, value = "/${table.entityPath}Delete")
##public int ${table.entityPath}Delete(Long id){
##        int count=0;
##        try{
##        count=i${entity}Service.deleteById(id)?1:0;
##        }catch(Exception e){
##        logger.error("${table.entityPath}Delete -=- {}",e.toString());
##        }
##        return count;
##        }
##
##/**
## * 批量删除对象
## * @param item 实体集合ID
## * @return  0 失败  1 成功
## */
##@ResponseBody
##@RequestMapping(method = RequestMethod.POST, value = "/${table.entityPath}BatchDelete")
##public int deleteBatchIds(String item){
##        int count=0;
##        try{
##        List<Long> ids=(List<Long>)JSON.parse(item);
##        count=i${entity}Service.deleteBatchIds(ids)?1:0;
##        }catch(Exception e){
##        logger.error("${table.entityPath}BatchDelete -=- {}",e.toString());
##        }
##        return count;
##        }
##
##
##        }
        }
