<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.mall.dao.mapper.EnergyTaskConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zwl.mall.dao.model.EnergyTaskConfig">
        <id column="id" property="id"/>
        <result column="task_type" property="taskType"/>
        <result column="task_value" property="taskValue"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                        id, task_type, task_value, error_msg, title, description, create_time, update_time, deleted
    </sql>


</mapper>
