<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.mall.dao.mapper.StatisticsByDayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zwl.mall.dao.model.StatisticsByDay">
        <id column="id" property="id"/>
        <result column="send_card_num" property="sendCardNum"/>
        <result column="activate_card_num" property="activateCardNum"/>
        <result column="sale_num" property="saleNum"/>
        <result column="new_send_card_num" property="newSendCardNum"/>
        <result column="new_activate_card_num" property="newActivateCardNum"/>
        <result column="new_vip_num" property="newVipNum"/>
        <result column="new_cyjl_num" property="newCyjlNum"/>
        <result column="new_yz_num" property="newYzNum"/>
        <result column="new_xz_num" property="newXzNum"/>
        <result column="new_jd_num" property="newJdNum"/>
        <result column="cyjl_num" property="cyjlNum"/>
        <result column="yz_num" property="yzNum"/>
        <result column="xz_num" property="xzNum"/>
        <result column="jd_num" property="jdNum"/>
        <result column="vip_num" property="vipNum"/>
        <result column="total_order_num" property="totalOrderNum"/>
        <result column="total_order_amount" property="totalOrderAmount"/>
        <result column="pre_binding_num" property="preBindingNum"/>
        <result column="register_num" property="registerNum"/>
        <result column="record_time" property="recordTime"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="deleted" property="deleted"/>
        <result column="new_total_order_num" property="newTotalOrderNum"/>
        <result column="new_total_order_amount" property="newTotalOrderAmount"/>
        <result column="new_pre_binding_num" property="newPreBindingNum"/>
        <result column="new_register_num" property="newRegisterNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                        id, send_card_num, activate_card_num, sale_num, new_send_card_num, new_activate_card_num, new_vip_num, new_cyjl_num, new_yz_num, new_xz_num, new_jd_num, cyjl_num, yz_num, xz_num, jd_num, vip_num, total_order_num, total_order_amount, pre_binding_num, register_num, record_time, create_at, update_at, deleted, new_total_order_num, new_total_order_amount, new_pre_binding_num, new_register_num
    </sql>


</mapper>
