<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.mall.dao.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zwl.mall.dao.model.SysLog">
        <id column="id" property="id"/>
        <result column="create_at" property="createAt"/>
        <result column="description" property="description"/>
        <result column="operator" property="operator"/>
        <result column="version" property="version"/>
        <result column="module" property="module"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                        id, create_at, description, operator, version, module, content
    </sql>


</mapper>
