<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.mall.dao.mapper.UserEnergyExpireTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zwl.mall.dao.model.UserEnergyExpireTime">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="expire_time" property="expireTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid,expire_time, create_time, update_time, deleted
    </sql>
    <select id="getCurrentEnergyExpireSecondByUid" resultType="Integer">
      SELECT
	timestampdiff( SECOND, now( ), expire_time)
    FROM
	user_energy_expire_time
    WHERE
	uid = #{uid}
	and deleted=0
    </select>


</mapper>
