<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwl.mall.dao.mapper.UserEnergyExpireTimeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zwl.mall.dao.model.UserEnergyExpireTime">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="calculation_power" property="calculationPower"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                        id, uid, start_time, end_time, calculation_power, create_time, update_time, version, deleted
    </sql>
    <select id="getCurrentEnergyExpireSecondEndTimeByUid" resultType="com.zwl.mall.dao.model.UserEnergyExpireTime">
        <![CDATA[
               SELECT
                CASE

                WHEN
                    timestampdiff( SECOND, now( ), max( end_time ) ) < 0 THEN
                    0 ELSE timestampdiff( SECOND, now( ), max( end_time ) )
                        END as expireSecond,
                    max( end_time )  as endTime
                FROM
                    user_energy_expire_time
                WHERE
                    uid = #{uid}
                AND deleted = 0
        ]]>
    </select>

    <select id="selectTodayListByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_energy_expire_time where uid =#{uid} and deleted = 0 and DATE_FORMAT(end_time,'%y%m%d') =
        DATE_FORMAT(now(),'%y%m%d') order by start_time


    </select>
    <select id="selectYesterdayListByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_energy_expire_time where uid =#{uid} and deleted = 0 and DATE_FORMAT(end_time,'%y%m%d') =
        DATE_FORMAT( DATE_SUB(now(), INTERVAL 1 DAY ), '%y%m%d' ) order by start_time

    </select>

    <select id="listTodayUid" resultType="java.lang.Long">
   SELECT DISTINCT
        uid
    FROM
        user_energy_expire_time
    WHERE
        deleted = 0
        AND DATE_FORMAT( end_time, '%y%m%d' ) >= DATE_FORMAT( DATE_SUB( CURDATE( ), INTERVAL 1 DAY ), '%y%m%d' )
    </select>


</mapper>
